/* For desktop view (3 cards per row) */
.article-card-container {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin: 0 -10px; /* Adjust this margin as needed */
    gap: 20px;
    padding: 20px;

  }
  
  .article-card {
    width: calc(33.33% - 20px); /* Adjust the width and margin as needed */
    padding: 10px;
    box-sizing: border-box;
    border: 5px solid #f08b81;
    background-color: #fceae9;

  }
  
  /* For mobile view (1 card per row) */
  @media screen and (max-width: 767px) {
    .article-card {
      width: 100%;
    }
  }

  .home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Add padding as desired */
  }
  
  .left {
    flex: 1; /* Expands to fill available space */
  }
  
  .right {
    padding-right: 10px; /* Add right padding as desired */
  }


  .filter-container {
    display: flex;
    align-items: center;
  }
  
  .filter-label {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
  }
  
  .filter-select {
    width: 150px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
  }
  
  /* Style for hover and focus on the select element */
  .filter-select:hover,
  .filter-select:focus {
    background-color: #e0e0e0;
    border: 1px solid #999;
  }