<br>
<h3>KATA PANIER</h3>
<br>


<div class="home-container">
    <div class="left">
        <div class="filter-container">
            <label for="categorySelect" class="filter-label">Filter by Category:</label>
            <select
              id="categorySelect"
              [(ngModel)]="selectedCategory"
              (change)="filterArticlesByCategory(selectedCategory)"
              class="filter-select"
            >
              <option value="">All Categories</option>
              <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
            </select>
          </div>
    </div>
    <div class="right">
        <app-cart-size></app-cart-size>
    </div>
</div>

<div *ngIf="articles$ | async as articles">
    <div class="article-card-container">
        <div class="article-card" *ngFor="let article of articles">
            <article [article]="article" (ajouter)="addToPanier($event)"></article>
        </div>
    </div>
</div>