
<br><br>
<div class="container">

    <a type="button" class="btn btn-secondary btn-lg" routerLink="/articles">Articles</a> &nbsp;&nbsp;&nbsp;
    <br><br>
    <div *ngIf="items.length === 0">
        <h3>Panier vide</h3>
    </div>
    <div *ngIf="items.length != 0" class="row gx-2 ">
        <div class="col-md-8">
            <div *ngFor="let item of items">
                <div class="item">
                     <p><b>Product : {{ item!.article.productName }}</b><br>
                        TAX : {{item!.tax}} &nbsp; 
                        quantity: {{ item!.article!.quantity }} &nbsp; 
                         Price Unitaire HT:   {{ item!.article!.price | currency:'EUR' }} &nbsp;
                        Price Unitaire TTC:   {{item!.pricettc | currency:'EUR' }} </p>  
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeFromCart(item)">delete</button>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    Totale Taxes : {{calculeTotalTaxes() | currency:'EUR'}}<br>
                    Totale TTC   : {{calculeTotalTTC() | currency:'EUR'}}<br> 
                </div>
              </div>
        </div>
    </div>
</div>