.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #5b97f1;
    padding: 10px;
  }
  
  .item.button {
    align-self: flex-end;
    margin-top: 10px; /* Adjust the margin as needed */
  }