

    <h5>{{ article!.productName }}</h5>
    <h6>Price: {{ article!.price }}</h6>
    <p>Category: {{ article!.category }}</p>
    <p>Imported: {{ article!.isImported ? 'Yes' : 'No' }}</p>
    
    <div class="card-footer bg-transparent d-flex justify-content-between">
        <button class="btn btn-secondary" disabled>
            <span *ngIf="!isAvailable()">non disponible</span>
            <span *ngIf="isAvailable()"> Quantity: {{ article!.quantity }}</span>
        </button>
    
        <button class="btn btn-primary" [disabled]="!isAvailable()" (click)="addToPanier(article!)">Ajouter</button>
    </div> 



<!--
<div  class="article-card" >
    <div class="card-body">
        <h5 class="card-title">{{ article!.productName }}</h5>
        <p>Price: {{ article!.price }}</p>
        <p>Category: {{ article!.category }}</p>
        <p>Imported: {{ article!.isImported ? 'Yes' : 'No' }}</p>
        <p>Quantity: {{ article!.quantity }}</p>
        <span *ngIf="article!.quantity === 0">non disponible</span> &nbsp;&nbsp;
        <button class="btn btn-primary justify-content-md-end" (click)="addToPanier(article!)"
        [disabled]="article!.quantity === 0">Ajouter</button>
    </div>
</div>-->